<div>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, :class => "input-text-340" %>

</div>
<div>

  <%= f.label :middle_name %>
  <%= f.text_field :middle_name, :class => "input-text-340" %>

</div>
<div>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, :class => "input-text-340" %>

</div>
<div>

  <%= f.label :joining_date %>
  <%= f.text_field :joining_date, :class => "input-text-340" %>

</div>
<div>

  <%= f.label :emp_id, "Employee Id" %>
  <%= f.text_field :emp_id, :class => "input-text-340", :readonly => true %>

</div>