<div class="reg-form">
  
  <h3>Sign up</h3>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>
    
    <div class="login-info">
      
      <div>

        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :class => "input-text-340" %>

      </div>
      <div>

        <%= f.label :username %>
        <%= f.text_field :username, :class => "input-text-340" %>

      </div>
      <div>

        <%= f.label :password %>
        <%= f.password_field :password, :class => "input-text-340" %>

      </div>

      <div>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "input-text-340" %>

      </div>
      <div>

        <%= f.label :avatar, "Choose Profile Image" %>
        <%= f.file_field :avatar %>

      </div>
      <div>

        <%= f.submit "Sign up", :class => "btn btn-primary" %>

      </div>
      
    </div>
    <div class="extra-info">
      
      <%#= render "extra_user_info", :f => f %>
    
    </div>

  <% end %>
  
</div>
