<div class="login-page-div">
  
  <div class="login-image">
  
    <%= image_tag "goalplan.jpg" %>
  
  </div>
  <br />
  <div class="login-form">
    
    <h4>Reset your password</h4>
    
    <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>

      <div class="field">
        
        <%= f.label :current_password, "Current Password" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, :class => "input-text-340" %>
        
      </div>
      <div class="field">
        
        <%= f.label :password, "New Password" %>
        <%= f.password_field :password, :autocomplete => "off", :class => "input-text-340"  %>
        
      </div>
      <div class="field">
        
        <%= f.label :password_confirmation, "Confirm New Password" %>
        <%= f.password_field :password_confirmation, :class => "input-text-340" %>
        
      </div>
      <div class="action_container">
        
        <%= f.submit "Reset Password", :class => "btn btn-primary" %>
        
      </div>
    
    <% end %>
  
  </div>
  
</div>