<div class="login-page-div">
  
  <div class="login-image">
  
    <%= image_tag "goalplan.jpg" %>
  
  </div>
  <br />
  <div class="login-form">
    
    <h4>Forgot your password?</h4>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    
      <%= devise_error_messages! %>

      <div>
        
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :class => "input-text-340" %>
      
      </div>

      <div>

        <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
        
      </div>
      
    <% end %>
    
  </div>

</div>